Django>=4.2,<5.0
python-decouple
django-crispy-forms
crispy-bootstrap5
django-filter
django-widget-tweaks
Pillow
openpyxl
reportlab
pytest-django
pytest-cov
dj_database_url
# django-debug-toolbar  # dev only — uncomment for local development